"*":
  "api-blueprint-preview": {}
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "atom-lint":
    jshint:
      esnext: true
    rubocop:
      path: "/Users/tony/.rvm/gems/ruby-2.1.3/bin/rubocop"
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  "atom-pair":
    pusher_app_key: "9a5782d887a24ed00714"
    pusher_app_secret: "64cd314ce00f95be73e5"
    slack_url: "https://hooks.slack.com/services/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"
  "autoclose-html": {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-elixir":
    erlangHome: "/usr/local/bin"
  "autocomplete-erlang": {}
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
  "copy-as-rtf":
    fontsize: 26
    style: "manni"
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "archive-view"
      "autoflow"
      "package-generator"
      "welcome"
      "autosave"
      "feedback"
      "jslint"
      "coffee-lint"
      "highlight-line"
      "atom-lint"
      "activate-power-mode"
      "background-tips"
      "autocomplete-elixir"
      "swackets"
      "jscs-fixer"
      "linter-jscs"
      "language-markdown"
      "react"
      "vim-surround"
      "language-todo"
      "linter-elixir-credo"
      "pigments"
      "Zen"
      "Stylus"
      "atom-jinja2"
      "atom-pair"
      "atomic-chrome"
      "autocomplete-emojis"
      "clipboard-plus"
      "color-picker"
      "dash"
      "docblockr"
      "emmet"
      "git-time-machine"
      "go-guru"
      "go-oracle"
      "go-signature-statusbar"
      "info-comment"
      "language-api-blueprint"
      "language-babel"
      "language-elm"
      "language-groovy"
      "language-haml"
      "language-ini"
      "language-lua"
      "language-scheme"
      "language-slim"
      "linter-csslint"
      "linter-clang"
      "lisp-paredit"
      "merge-conflicts"
      "pandoc-convert"
      "ruby-syntax-replacer"
      "script"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-sass"
      "language-toml"
      "language-xml"
      "hyperclick"
      "vim-mode"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    themes: [
      "one-dark-ui"
      "behave-theme"
    ]
    titleBar: "custom"
  docblockr:
    auto_add_method_tag: true
  editor:
    backUpBeforeSaving: true
    fontSize: 16
    invisibles: {}
    preferredLineLength: 100
    scrollSensitivity: 70
  emmet: {}
  "exception-reporting":
    userId: "785a12dd-038b-6d03-f5f8-23d58038b90d"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace": {}
  fonts:
    fontFamily: "Hack"
  "genesis-ui":
    distractionFree: {}
    treeView: {}
  "git-plus":
    general:
      _analyticsUserId: "44263e71-a1af-4cbb-9ee1-bdd49c4449fb"
  "go-plus":
    disabledBundledPackages: [
      "go-debug"
      "go-signature-statusbar"
      "hyperclick"
    ]
    panelDisplayMode: "closed"
    test:
      focusPanelIfTestsFail: false
  gofmt:
    formatOnSave: false
    formatTool: "goreturns"
  "highlight-column": {}
  "highlight-line":
    enableBackgroundColor: false
  "imdone-atom": {}
  "info-comment": {}
  "jscs-fixer":
    esprima: true
    jscsPath: "/usr/local/bin/jscs"
  jshint:
    supportLintingJsx: true
    validateOnlyOnSave: true
  jslint:
    hideOnNoErrors: true
  "language-babel":
    transpileOnSave: false
  "language-markdown": {}
  linter: {}
  "linter-elixirc": {}
  "linter-golinter": {}
  "linter-jscs":
    configPath: "~/.jscsrc"
    executablePath: "/usr/local/bin/jscs"
    harmony: true
    preset: "google"
    verbose: false
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-rubocop":
    command: "/Users/tony/.rbenv/versions/2.2.5/bin/rubocop"
  "linter-ui-default":
    panelHeight: 81
    tooltipFollows: "Mouse"
  "lisp-paredit":
    strict: false
  "markdown-preview":
    breakOnSingleNewline: true
  "merge-conflicts": {}
  metrics:
    userId: "067dba6ea4a451705da593bab8ba135955582131"
  minimap: {}
  "one-dark-ui": {}
  pigments:
    sortPaletteColors: "by name"
  "rails-rspec":
    specSearchPaths: [
      "spec"
      "fast_spec"
    ]
  react: {}
  "release-notes":
    viewedVersion: "0.106.0"
  "rubocop-auto-correct":
    notification: false
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  swackets:
    syntax: "Parentheses"
  "todo-show": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "unity-ui": {}
  "vim-mode":
    useClipboardAsDefaultRegister: false
    wrapLeftRightMotion: true
  "vim-mode-plus":
    useClipboardAsDefaultRegister: false
  "vim-surround": {}
  wakatime:
    apikey: "fc3a0906-5ba5-4027-8b48-a9179cfb2ee0"
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".makefile.source":
  editor:
    showInvisibles: true
    softWrap: true
