'.editor':
  'alt-g j': 'git-diff:move-to-next-diff'
  'alt-g k': 'git-diff:move-to-previous-diff'

'.vim-mode.command-mode:not(.mini)':
  'ctrl-w ctrl-h': 'vim-mode:focus-pane-view-on-left'
  'ctrl-w ctrl-j': 'vim-mode:focus-pane-view-on-below'
  'ctrl-w ctrl-k': 'vim-mode:focus-pane-view-on-above'
  'ctrl-w ctrl-l': 'vim-mode:focus-pane-view-on-right'

