'.atom-text-editor':
  'alt-g j': 'git-diff:move-to-next-diff'
  'alt-g k': 'git-diff:move-to-previous-diff'

'.vim-mode.command-mode:not(.mini)':
  # 'ctrl-w ctrl-h': 'vim-mode:focus-pane-view-on-left'
  # 'ctrl-w ctrl-j': 'vim-mode:focus-pane-view-on-below'
  # 'ctrl-w ctrl-k': 'vim-mode:focus-pane-view-on-above'
  # 'ctrl-w ctrl-l': 'vim-mode:focus-pane-view-on-right'
  '%': 'bracket-matcher:go-to-matching-bracket'

'.atom-text-editor:not(.mini)':
  'ctrl-y ,': 'emmet:expand-abbreviation-with-tab'
  'tab': 'snippets:expand'

'atom-text-editor':
  'alt-k': 'atom-elixir:return-from-definition'
'.platform-darwin atom-text-editor:not(mini)':
  'alt-k': 'atom-elixir:return-from-definition'
'atom-text-editor:not(mini)[data-grammar^="source elixir"]':
  'alt-j': 'atom-elixir:goto-definition'
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g s': 'vim-mode-plus:snake-case'
