/*
* Your Stylesheet
*
* This stylesheet is loaded when Atom starts up and is reloaded automatically
* when it is changed.
*
* If you are unfamiliar with LESS, you can read more about it here:
* http://www.lesscss.org
*/

@import "syntax-variables";

@syntax-background-color: #252c31;

.tree-view {
}

.scroll-view {
  &, & .lines {
    // background-color: @syntax-background-color;
  }
}

.atom-text-editor::shadow.react .cursors.blink-off .cursor {
  visibility: hidden;
}

.atom-text-editor::shadow .wrap-guide {
  background-color: @syntax-cursor-color;
  opacity: 0.5;
}

.symbols-view {
  opacity: 0.8;
}

.variable {
  color: #B6D868;
}

// elixir exs file icon
.file-icons-tab-pane-icon atom-pane .tab-bar .tab .title[data-path][data-path$=".exs"][data-path*="_test"]:before,
.file-icons-tab-pane-icon atom-pane .tab-bar .tab .title[data-path][data-name$=".exs"][data-name*="_test"]:before,
.icon-file-text[data-path$=".exs"][data-path*="_test"]:before,
.icon-file-text[data-name$=".exs"][data-name*="_test"]:before {
    color: #769E61;
}
